body{
    margin: 0;
    padding: 0;
    height: 10000px;
}
   /*navbar Section */
.navbar{
    position: fixed;
    box-shadow: 0 0 5px red;
    width: 100%;
    font-weight: 600;
    margin-top: 0px;
    font-family: 'Lato', sans-serif;
    background: linear-gradient(45deg , orange, white , green);
}

ul{
    list-style-type: none;
    }
li{
    float: left;
}
a{
    text-decoration: none;
    display:block;
    padding: 20px;
    color: black;
}
a:hover{
    color: blueviolet;
}

 /* description section  */

.details{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    background:linear-gradient(45deg ,orange,white ,green);
    padding: 150px;
     

}

.details .myimage img{
    border-radius: 200px;
    height: 400px;
    width: 400px;

}

.details .content .title span{
    font-family: 'Lato', sans-serif;

}
.details .content {
    margin-top: 100px;
    font-size: xx-large;
}
.details .content button{
    padding: 10px;
    border-radius: 5px 20px;
    border: none;
    box-shadow: 0 0 5px black;
    
}
.details .content button{
    cursor: pointer;
    font-weight: 700;
}


/* About me section  */

.aboutme h2{
    text-align: center;
    background-color: grey;
    margin: 0px;
    padding: 25px;
}
.aboutme p{
    margin: 0px 50px;
    text-indent: 200px;
    padding: 47px;
    line-height: 25px;
}
.aboutme{
    background: linear-gradient(45deg, white, green);

}

/* Skill section  */

.skills ul li{
    text-align: center;
    margin: 25px;
    padding: 15px;
   
}
.skills h2{
    text-align: center;
    background-color: grey;
    margin: 0px;
    padding: 25px;
}



    